<%- include partials/head.partial.ejs %>
<body>
    <%- include partials/header.partial.ejs %>
    <main class="mt-5">
        <div class="container">
            <h2>Trees:</h2>
            <br>

            <%if (locals.trees) {%>
                <% var count = 0; %>
                <% var rowCounter = 0; %>
                <!--Container for whole tree block-->
                <div class="container" id="treeBlock">
                <%trees.forEach(tree => {%>
                    <%if (count % 3 == 0) {%>
                        <div class="row" style="margin-top:20px">
                    <%}%>
                    <% rowCounter++; %>
                    <!--Tree column-->
                    <div class="col-md-4">
                        <!--Tree card-->
                        <div class="card" style="width: 18rem;">
                            <!--Tree image-->
                            <img src=<%=tree.image%> class="card-img-top" alt="empty-default">
                            <!--Tree card body-->
                            <div class="card-body">
                                <!--Tree title-->
                                <h5 class="card-title"><%=tree.name%></h5>
                                <!--Tree description and data-->
                                <p class="card-text">
                                    <small class="text-muted"><%=tree.description%></small>
                                    <!--Tree price-->
                                    <div class="text-success">
                                        Price: $ <%=tree.price%>
                                    </div>
                                    <!--Tree extra listed data-->
                                    <ul class="list-group">
                                        <li class="list-group-item">Tree maxHeight: <%=tree.maxHeight%></li>
                                        <li class="list-group-item">Tree averageHeight: <%=tree.averageHeight%></li>
                                    </ul>
                                </p>
                                <!--Tree add to cart button-->
                                <form>
                                    <button type="submit" class="btn btn-primary" id="cartItemInput">Add to Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <%if (rowCounter >= 3) {%>
                        <% rowCounter = 0; %>
                        </div>
                    <%}%>

                    <% count++ %>
                <%});%>
                </div>
            <%}%>
            
        </div>
    </main>
    <%- include partials/footer.partial.ejs %>
</body>
<%- include partials/scripts.partial.ejs %>